[access "refs/*"]
    read = group Registered Users

[access "refs/heads/*"]
    push = deny group Registered Users

[access "refs/for/refs/heads/*"]
    push = group Registered Users

[access "refs/heads/main"]
    submit = group App Leads
    submit = group Gerrit Service Account
    # DEV/TEST changes: 1 peer review
    label-Code-Review = -2..+2 group Developers
    label-Verified    = -1..+1 group Jenkins Service Account

[access "refs/heads/release/*"]
    # STAGE/PROD app releases: 2 approvals required (app lead + second reviewer)
    submit = group App Leads
    label-Code-Review = -2..+2 group App Leads
    label-Code-Review = -2..+2 group Ledgora Owners
    label-Verified    = -1..+1 group Jenkins Service Account

[submit]
    action = merge if necessary

[label "Verified"]
    function  = MaxWithBlock
    value     = -1 Fails
    value     =  0 No score
    value     =  1 Verified

[label "Code-Review"]
    function      = MaxWithBlock
    copyCondition = changekind:TRIVIAL_REBASE
    value         = -2 This shall not be merged
    value         = -1 I would prefer this is not merged as is
    value         =  0 No score
    value         =  1 Looks good to me, but someone else must also approve
    value         =  2 Looks good to me, approved

[project]
    description = Ledgora Core Application Services
    requireChangeId = true
    rejectImplicitMerges = true

[receive]
    maxObjectSizeLimit = 50m
