[access "refs/*"]
    read = group Registered Users

[access "refs/heads/*"]
    push = deny group Registered Users

[access "refs/for/refs/heads/*"]
    push = group DevOps Engineers

[access "refs/heads/main"]
    submit = group DevOps Engineers
    submit = group Gerrit Service Account
    label-Code-Review = -2..+2 group DevOps Engineers
    label-Verified    = -1..+1 group Jenkins Service Account

[submit]
    action = merge if necessary

[label "Verified"]
    function  = MaxWithBlock
    value     = -1 Fails
    value     =  0 No score
    value     =  1 Verified

[label "Code-Review"]
    function      = MaxWithBlock
    copyCondition = changekind:TRIVIAL_REBASE
    value         = -2 This shall not be merged
    value         = -1 I would prefer this is not merged as is
    value         =  0 No score
    value         =  1 Looks good to me, but someone else must also approve
    value         =  2 Looks good to me, approved

[project]
    description = AtonixCorp Jenkins Shared Pipeline Libraries and Jenkinsfiles
    requireChangeId = true
    rejectImplicitMerges = true

[receive]
    maxObjectSizeLimit = 10m
