openapi: 3.0.3
info:
  title: AtonixCorp API
  version: 1.0.0
  description: >
    AtonixCorp is an institution-grade financial accounting API designed for
    multi-tenant organizations, ledger-driven financial operations, and
    enterprise integrations.
servers:
  - url: https://api.atonixcorp.com/v1
    description: Production
  - url: https://sandbox.api.atonixcorp.com/v1
    description: Sandbox
security:
  - OAuth2: []
tags:
  - name: Developer Portal
  - name: Developer Docs
  - name: Status
  - name: Authentication
  - name: Organizations
  - name: Migration
  - name: Accounts
  - name: Customers
  - name: Vendors
  - name: Invoices
  - name: Bills
  - name: Payments
  - name: Ledger
  - name: Banking
  - name: Reports
  - name: Webhooks
  - name: Audit
x-lgx-error-envelope:
  schema: '#/components/schemas/StandardError'
  note: All runtime v1 error responses are normalized to the StandardError envelope.
x-lgx-scope-policy:
  v1-api-keys:
    GET: [auth:manage]
    POST: [auth:manage]
  v1-api-key-rotate:
    POST: [auth:manage]
  v1-api-key-revoke:
    POST: [auth:manage]
  v1-organizations:
    GET: [org:read]
    POST: [org:write]
  v1-roles:
    GET: [team:read]
  v1-permissions:
    GET: [team:read]
  v1-team-members:
    GET: [team:read]
    POST: [team:write]
  v1-team-member-invitations:
    POST: [team:write]
  v1-team-member-deactivate:
    POST: [team:write]
  v1-migration-jobs:
    GET: [migration:read]
    POST: [migration:write]
  v1-migration-job-detail:
    GET: [migration:read]
  v1-migration-bank-statements:
    POST: [migration:write, banking:write]
  v1-migration-chart-of-accounts:
    POST: [migration:write]
  v1-migration-customers:
    POST: [migration:write]
  v1-migration-historical-financials:
    POST: [migration:write, ledger:write]
  v1-migration-vendors:
    POST: [migration:write]
  v1-migration-invoices:
    POST: [migration:write]
  v1-migration-bills:
    POST: [migration:write]
  v1-migration-transactions:
    POST: [migration:write]
  v1-migration-opening-balances:
    POST: [migration:write]
  v1-accounts:
    GET: [accounts:read]
    POST: [accounts:write]
  v1-customers:
    GET: [customers:read]
    POST: [customers:write]
  v1-vendors:
    GET: [vendors:read]
    POST: [vendors:write]
  v1-bills:
    GET: [bills:read]
    POST: [bills:write]
  v1-bill-payments:
    POST: [payments:write]
  v1-journal-entries:
    GET: [ledger:read]
    POST: [ledger:write]
  v1-invoices:
    POST: [invoices:write]
  v1-invoice-payments:
    POST: [payments:write]
  v1-bank-accounts:
    GET: [banking:read]
    POST: [banking:write]
  v1-bank-account-transactions:
    GET: [banking:read]
    POST: [banking:write]
  v1-reconciliation-matches:
    GET: [banking:read]
    POST: [banking:write]
  v1-trial-balance:
    GET: [reports:read]
  v1-profit-and-loss:
    GET: [reports:read]
  v1-balance-sheet:
    GET: [reports:read]
  v1-cash-flow:
    GET: [reports:read]
  v1-system-events:
    GET: [audit:read]
  v1-webhook-endpoints:
    GET: [webhooks:read]
    POST: [webhooks:write]
  v1-webhook-deliveries:
    GET: [webhooks:read]
  v1-webhook-event-replay:
    POST: [webhooks:write]
paths:
  /auth/token:
    post:
      tags: [Authentication]
      summary: Exchange client credentials for an access token
      operationId: createAccessToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_id, client_secret, grant_type]
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  type: string
                  enum: [client_credentials]
      responses:
        '200':
          description: Access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /auth/cli-login:
    post:
      tags: [Authentication]
      summary: Exchange a CLI API key for a short-lived bearer token
      operationId: cliLogin
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CLIAuthLoginRequest'
      responses:
        '200':
          description: CLI session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLIAuthSessionResponse'
        '400':
          $ref: '#/components/responses/StandardBadRequest'
        '401':
          $ref: '#/components/responses/StandardUnauthorized'
        '404':
          $ref: '#/components/responses/StandardNotFound'
  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh a CLI bearer token using the stored API key
      operationId: cliRefresh
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CLIAuthRefreshRequest'
      responses:
        '200':
          description: CLI token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLIAuthSessionResponse'
        '400':
          $ref: '#/components/responses/StandardBadRequest'
        '401':
          $ref: '#/components/responses/StandardUnauthorized'
  /auth/me:
    get:
      tags: [Authentication]
      summary: Validate the current CLI session
      operationId: cliAuthMe
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: CLI session is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLIAuthMeResponse'
        '401':
          $ref: '#/components/responses/StandardUnauthorized'
        '403':
          $ref: '#/components/responses/StandardForbidden'
  /api-keys:
    get:
      tags: [Authentication]
      summary: List OAuth client applications for an organization
      operationId: listApiKeys
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: API keys listed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    post:
      tags: [Authentication]
      summary: Create an OAuth client application
      operationId: createApiKey
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCredential'
  /organizations:
    get:
      tags: [Organizations]
      summary: List accessible organizations
      operationId: listOrganizations
      responses:
        '200':
          description: Organization list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
  /migration/jobs:
    get:
      tags: [Migration]
      summary: List migration jobs
      operationId: listMigrationJobs
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Migration jobs listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
    post:
      tags: [Migration]
      summary: Create a migration job
      operationId: createMigrationJob
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrationJobRequest'
      responses:
        '201':
          description: Migration job created
          content:
            application/json:
              schema:
                type: object
  /accounts:
    get:
      tags: [Accounts]
      summary: List chart of accounts
      operationId: listAccounts
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Accounts listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
    post:
      tags: [Accounts]
      summary: Create a ledger account
      operationId: createAccount
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /customers:
    get:
      tags: [Customers]
      summary: List customers
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Customers listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
    post:
      tags: [Customers]
      summary: Create a customer
      operationId: createCustomer
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
  /vendors:
    get:
      tags: [Vendors]
      summary: List vendors
      operationId: listVendors
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Vendors listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vendor'
    post:
      tags: [Vendors]
      summary: Create a vendor
      operationId: createVendor
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Vendor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
  /invoices:
    get:
      tags: [Invoices]
      summary: List invoices
      operationId: listInvoices
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Invoices listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
    post:
      tags: [Invoices]
      summary: Create a new invoice
      operationId: createInvoice
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateRequest'
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
  /invoices/{invoice_id}/payments:
    post:
      tags: [Payments]
      summary: Record a payment against an invoice
      operationId: createInvoicePayment
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: invoice_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
      responses:
        '201':
          description: Payment recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  /bills:
    get:
      tags: [Bills]
      summary: List bills
      operationId: listBills
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Bills listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bill'
    post:
      tags: [Bills]
      summary: Create a new bill
      operationId: createBill
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillCreateRequest'
      responses:
        '201':
          description: Bill created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bill'
  /bills/{bill_id}/payments:
    post:
      tags: [Payments]
      summary: Record a payment against a bill
      operationId: createBillPayment
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: bill_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
      responses:
        '201':
          description: Bill payment recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
  /ledger/journal-entries:
    get:
      tags: [Ledger]
      summary: List journal entries
      operationId: listJournalEntries
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Journal entries listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JournalEntry'
    post:
      tags: [Ledger]
      summary: Post a journal entry
      operationId: createJournalEntry
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JournalEntryCreateRequest'
      responses:
        '201':
          description: Journal entry posted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LedgerEntryResponse'
  /bank-accounts:
    get:
      tags: [Banking]
      summary: List linked bank accounts
      operationId: listBankAccounts
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Bank accounts listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankAccount'
    post:
      tags: [Banking]
      summary: Link an external bank account
      operationId: createBankAccount
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccount'
      responses:
        '201':
          description: Bank account linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccount'
  /bank-accounts/{bank_account_id}/transactions:
    get:
      tags: [Banking]
      summary: List imported bank transactions
      operationId: listBankTransactions
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - name: bank_account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Bank transactions listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankTransaction'
    post:
      tags: [Banking]
      summary: Import bank transactions
      operationId: importBankTransactions
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - name: bank_account_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transactions]
              properties:
                transactions:
                  type: array
                  items:
                    $ref: '#/components/schemas/BankTransaction'
      responses:
        '201':
          description: Transactions imported
          content:
            application/json:
              schema:
                type: object
  /reconciliation/matches:
    get:
      tags: [Banking]
      summary: List reconciliation matches
      operationId: listReconciliationMatches
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Reconciliation matches listed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    post:
      tags: [Banking]
      summary: Match a bank transaction to a ledger entry
      operationId: createReconciliationMatch
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bank_transaction_id, ledger_entry_id, match_type]
              properties:
                bank_transaction_id:
                  type: string
                ledger_entry_id:
                  type: string
                match_type:
                  type: string
                  enum: [exact, manual, partial]
                matched_amount:
                  type: number
                  format: double
      responses:
        '201':
          description: Reconciliation completed
          content:
            application/json:
              schema:
                type: object
  /reports/trial-balance:
    get:
      tags: [Reports]
      summary: Generate a trial balance report
      operationId: getTrialBalance
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - name: as_of_date
          in: query
          schema:
            type: string
            format: date
        - name: currency
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Trial balance report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
  /reports/profit-and-loss:
    get:
      tags: [Reports]
      summary: Generate a profit and loss report
      operationId: getProfitAndLoss
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: currency
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Profit and loss report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
  /reports/balance-sheet:
    get:
      tags: [Reports]
      summary: Generate a balance sheet report
      operationId: getBalanceSheet
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - name: as_of_date
          in: query
          schema:
            type: string
            format: date
        - name: currency
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Balance sheet report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
  /reports/cash-flow:
    get:
      tags: [Reports]
      summary: Generate a cash flow statement
      operationId: getCashFlow
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - name: from_date
          in: query
          schema:
            type: string
            format: date
        - name: to_date
          in: query
          schema:
            type: string
            format: date
        - name: currency
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Cash flow report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
  /webhooks/endpoints:
    get:
      tags: [Webhooks]
      summary: List registered webhook endpoints
      operationId: listWebhookEndpoints
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Webhook endpoints listed
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
    post:
      tags: [Webhooks]
      summary: Register a webhook endpoint
      operationId: createWebhookEndpoint
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Webhook endpoint created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEvent'
  /webhooks/deliveries:
    get:
      tags: [Webhooks]
      summary: List webhook delivery logs
      operationId: listWebhookDeliveries
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: Webhook deliveries listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvent'
  /webhooks/events/{event_id}/replay:
    post:
      tags: [Webhooks]
      summary: Replay a stored webhook event
      operationId: replayWebhookEvent
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
        - name: event_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Webhook event replayed
          content:
            application/json:
              schema:
                type: object
  /events:
    get:
      tags: [Audit]
      summary: List retained system events
      operationId: listSystemEvents
      parameters:
        - $ref: '#/components/parameters/OrganizationIdHeader'
      responses:
        '200':
          description: System events listed
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvent'
  /:
    get:
      tags: [Developer Portal]
      summary: Render the public AtonixCorp API landing page
      operationId: renderDeveloperLandingPage
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      responses:
        '200':
          description: NASA-style landing page HTML
          content:
            text/html:
              schema:
                type: string
  /apis:
    get:
      tags: [Developer Portal]
      summary: List published APIs in the public catalog
      operationId: listDeveloperCatalogApis
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [stable, beta, deprecated]
        - name: type
          in: query
          required: false
          schema:
            type: string
        - name: accessLevel
          in: query
          required: false
          schema:
            type: string
            enum: [public, partner, internal]
      responses:
        '200':
          description: API catalog page data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperAPIListResponse'
  /apis/{slug}:
    get:
      tags: [Developer Portal]
      summary: Get full metadata for a published API
      operationId: getDeveloperCatalogApi
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API detail document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperAPIDetail'
        '404':
          $ref: '#/components/responses/StandardNotFound'
  /apis/{slug}/endpoints:
    get:
      tags: [Developer Portal]
      summary: List endpoints for a published API
      operationId: listDeveloperCatalogEndpoints
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Endpoint catalog for an API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperAPIEndpointListResponse'
        '404':
          $ref: '#/components/responses/StandardNotFound'
  /apis/{slug}/endpoints/{endpoint_id}:
    get:
      tags: [Developer Portal]
      summary: Get detail for one published API endpoint
      operationId: getDeveloperCatalogEndpoint
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: endpoint_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Endpoint detail document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperAPIEndpointDetailResponse'
        '404':
          $ref: '#/components/responses/StandardNotFound'
  /search:
    get:
      tags: [Developer Portal]
      summary: Search across published APIs and endpoint metadata
      operationId: searchDeveloperCatalog
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [stable, beta, deprecated]
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperSearchResponse'
        '400':
          $ref: '#/components/responses/StandardBadRequest'
  /keys/register:
    post:
      tags: [Developer Portal]
      summary: Register a developer and issue a composite API key
      operationId: registerDeveloperApiKey
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeveloperKeyRegistrationRequest'
      responses:
        '201':
          description: Developer key issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperKeyRegistrationResponse'
        '400':
          $ref: '#/components/responses/StandardBadRequest'
  /docs/apis:
    get:
      tags: [Developer Docs]
      summary: List API documentation documents for the public catalog
      operationId: listDeveloperApiDocs
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      responses:
        '200':
          description: Documentation listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperAPIListResponse'
  /docs/apis/{slug}:
    get:
      tags: [Developer Docs]
      summary: Get a documentation document for one published API
      operationId: getDeveloperApiDoc
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API documentation detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperAPIDetail'
        '404':
          $ref: '#/components/responses/StandardNotFound'
  /status:
    get:
      tags: [Status]
      summary: Return developer portal health and version information
      operationId: getDeveloperPortalStatus
      security: []
      servers:
        - url: https://api.atonixcorp.com
          description: Production root
        - url: https://sandbox.api.atonixcorp.com
          description: Sandbox root
      responses:
        '200':
          description: Developer portal status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperStatus'
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /auth/token
          scopes:
            auth:manage: Manage API credentials
            org:read: Read organization metadata
            org:write: Create or modify organization metadata
            team:read: Read roles, permissions, and team members
            team:write: Invite or deactivate team members
            migration:read: Read migration jobs and results
            migration:write: Create or execute migration workflows
            accounts:read: Read chart of accounts data
            accounts:write: Create or modify accounts
            customers:read: Read customer records
            customers:write: Create or modify customers
            vendors:read: Read vendor records
            vendors:write: Create or modify vendors
            invoices:write: Create invoices
            bills:read: Read bills
            bills:write: Create bills
            payments:write: Record invoice or bill payments
            ledger:read: Read journal entries
            ledger:write: Post journal entries or ledger-affecting migrations
            banking:read: Read bank accounts, transactions, and reconciliations
            banking:write: Import bank activity and create reconciliations
            reports:read: Read financial reports
            webhooks:read: Read webhook endpoints and delivery logs
            webhooks:write: Create webhook endpoints or replay events
            audit:read: Read retained system events and audit-facing logs
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  responses:
    StandardBadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    StandardUnauthorized:
      description: Authentication failed or token missing
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    StandardForbidden:
      description: Access denied or insufficient scope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    StandardNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
    StandardRateLimited:
      description: Request was throttled
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StandardError'
  parameters:
    OrganizationIdHeader:
      name: X-Organization-Id
      in: header
      required: true
      schema:
        type: string
      description: "Tenant-scoping header. Example: org_123"
    IdempotencyKeyHeader:
      name: X-Idempotency-Key
      in: header
      required: true
      schema:
        type: string
      description: Required for financial POST endpoints to prevent duplicate writes.
  schemas:
    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        primary_country:
          type: string
        primary_currency:
          type: string
    OrganizationSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    CLIUser:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
    ApiKeyCredential:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        client_id:
          type: string
        client_secret:
          type: string
        api_key:
          type: string
          description: Composite CLI-safe API key in `<client_id>.<client_secret>` form.
        scopes:
          type: array
          items:
            type: string
        environment:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RateLimitProfile:
      type: object
      properties:
        name:
          type: string
        requests_per_minute:
          type: integer
        requests_per_day:
          type: integer
    DeveloperAPICategory:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
    DeveloperAPITag:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
    DeveloperAPIEndpoint:
      type: object
      properties:
        id:
          type: integer
        version:
          type: string
        name:
          type: string
        method:
          type: string
        path:
          type: string
        summary:
          type: string
        description:
          type: string
        path_parameters:
          type: array
          items:
            type: object
            additionalProperties: true
        query_parameters:
          type: array
          items:
            type: object
            additionalProperties: true
        headers:
          type: array
          items:
            type: object
            additionalProperties: true
        scopes:
          type: array
          items:
            type: string
        request_example:
          type: string
        response_example:
          type: string
        error_responses:
          type: array
          items:
            type: object
            additionalProperties: true
    DeveloperAPIListItem:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        access_level:
          type: string
        auth_type:
          type: string
        data_types:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/DeveloperAPICategory'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/DeveloperAPITag'
        version:
          type: string
        is_featured:
          type: boolean
        rate_limit_profile:
          $ref: '#/components/schemas/RateLimitProfile'
    DeveloperAPIVersion:
      type: object
      properties:
        version:
          type: string
        base_path:
          type: string
        summary:
          type: string
        status:
          type: string
        is_default:
          type: boolean
        release_notes:
          type: string
    DeveloperAPIDetail:
      allOf:
        - $ref: '#/components/schemas/DeveloperAPIListItem'
        - type: object
          properties:
            overview:
              type: string
            use_cases:
              type: array
              items:
                type: string
            data_domains:
              type: array
              items:
                type: string
            rate_limits:
              type: object
              additionalProperties: true
            compliance_notes:
              type: string
            keywords:
              type: array
              items:
                type: string
            versions:
              type: array
              items:
                $ref: '#/components/schemas/DeveloperAPIVersion'
            default_version:
              $ref: '#/components/schemas/DeveloperAPIVersion'
            endpoints:
              type: array
              items:
                $ref: '#/components/schemas/DeveloperAPIEndpoint'
    DeveloperPagination:
      type: object
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
    DeveloperAPIListResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/DeveloperAPIListItem'
        pagination:
          $ref: '#/components/schemas/DeveloperPagination'
        available_filters:
          type: object
          additionalProperties: true
    DeveloperSearchResponse:
      type: object
      properties:
        query:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/DeveloperAPIListItem'
        pagination:
          $ref: '#/components/schemas/DeveloperPagination'
    DeveloperAPIEndpointListResponse:
      type: object
      properties:
        api:
          type: object
          properties:
            slug:
              type: string
            name:
              type: string
            status:
              type: string
            version:
              type: string
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/DeveloperAPIEndpoint'
    DeveloperAPIEndpointDetailResponse:
      type: object
      properties:
        api:
          type: object
          properties:
            slug:
              type: string
            name:
              type: string
            version:
              type: string
        endpoint:
          $ref: '#/components/schemas/DeveloperAPIEndpoint'
    DeveloperKeyRegistrationRequest:
      type: object
      required: [email]
      properties:
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        organization:
          type: string
        intended_use:
          type: string
    DeveloperKeyRegistrationResponse:
      type: object
      properties:
        request_id:
          type: integer
        message:
          type: string
        developer:
          type: object
          properties:
            email:
              type: string
              format: email
            first_name:
              type: string
            last_name:
              type: string
        organization:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        api_key:
          type: object
          properties:
            id:
              type: string
            client_id:
              type: string
            api_key:
              type: string
            status:
              type: string
            scopes:
              type: array
              items:
                type: string
            environment:
              type: string
            rate_limit_profile:
              $ref: '#/components/schemas/RateLimitProfile'
    DeveloperStatus:
      type: object
      properties:
        status:
          type: string
        service:
          type: string
        version:
          type: string
        uptime_seconds:
          type: integer
        updated_at:
          type: string
          format: date-time
        components:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              status:
                type: string
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
    Account:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        type:
          type: string
        currency:
          type: string
        current_balance:
          type: number
          format: double
    Customer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        currency:
          type: string
        status:
          type: string
    Vendor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        currency:
          type: string
        status:
          type: string
    Invoice:
      type: object
      properties:
        id:
          type: string
        invoice_number:
          type: string
        customer_id:
          type: string
        issue_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        currency:
          type: string
        subtotal:
          type: number
          format: double
        tax_amount:
          type: number
          format: double
        total_amount:
          type: number
          format: double
        status:
          type: string
    Bill:
      type: object
      properties:
        id:
          type: string
        bill_number:
          type: string
        vendor_id:
          type: string
        issue_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        currency:
          type: string
        total_amount:
          type: number
          format: double
        status:
          type: string
    Payment:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        payment_date:
          type: string
          format: date
        status:
          type: string
        journal_entry_id:
          type: string
    LedgerLine:
      type: object
      properties:
        account_id:
          type: string
        type:
          type: string
          enum: [debit, credit]
        amount:
          type: number
          format: double
        currency:
          type: string
    JournalEntry:
      type: object
      properties:
        id:
          type: string
        reference:
          type: string
        date:
          type: string
          format: date
        description:
          type: string
        status:
          type: string
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LedgerLine'
    BankAccount:
      type: object
      properties:
        id:
          type: string
        provider:
          type: string
        provider_account_id:
          type: string
        name:
          type: string
        currency:
          type: string
        account_number_masked:
          type: string
        verification_status:
          type: string
        status:
          type: string
    BankTransaction:
      type: object
      properties:
        id:
          type: string
        external_id:
          type: string
        date:
          type: string
          format: date
        amount:
          type: number
          format: double
        currency:
          type: string
        description:
          type: string
        status:
          type: string
        matched_ledger_entry_id:
          type: string
          nullable: true
        raw_data:
          type: object
          additionalProperties: true
    WebhookEvent:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        created_at:
          type: string
          format: date-time
        data:
          type: object
          additionalProperties: true
    AuditLog:
      type: object
      properties:
        id:
          type: string
        entity_type:
          type: string
        entity_id:
          type: string
        action:
          type: string
        changed_by:
          type: string
        timestamp:
          type: string
          format: date-time
        changes:
          type: array
          items:
            type: object
    InvoiceCreateRequest:
      type: object
      required: [customer_id, issue_date, due_date, currency, line_items]
      properties:
        customer_id:
          type: string
        issue_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        currency:
          type: string
        line_items:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              quantity:
                type: number
                format: double
              unit_price:
                type: number
                format: double
    BillCreateRequest:
      type: object
      required: [vendor_id, issue_date, due_date, currency, line_items]
      properties:
        vendor_id:
          type: string
        issue_date:
          type: string
          format: date
        due_date:
          type: string
          format: date
        currency:
          type: string
        line_items:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              quantity:
                type: number
                format: double
              unit_price:
                type: number
                format: double
              expense_account_id:
                type: string
    PaymentCreateRequest:
      type: object
      required: [payment_date, amount, currency]
      properties:
        payment_date:
          type: string
          format: date
        amount:
          type: number
          format: double
        currency:
          type: string
        payment_method:
          type: string
        bank_account_id:
          type: string
        reference_number:
          type: string
    JournalEntryCreateRequest:
      type: object
      required: [reference, date, description, lines]
      properties:
        reference:
          type: string
        date:
          type: string
          format: date
        description:
          type: string
        lines:
          type: array
          items:
            $ref: '#/components/schemas/LedgerLine'
    MigrationJobRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
        source_system:
          type: string
        file_url:
          type: string
          format: uri
        metadata:
          type: object
          additionalProperties: true
    CLIAuthLoginRequest:
      type: object
      required: [api_key, organization_id]
      properties:
        api_key:
          type: string
        organization_id:
          type: string
    CLIAuthRefreshRequest:
      type: object
      required: [api_key]
      properties:
        api_key:
          type: string
    CLIAuthSessionResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
        organization_id:
          type: string
        user:
          $ref: '#/components/schemas/CLIUser'
    CLIAuthMeResponse:
      type: object
      properties:
        organization:
          $ref: '#/components/schemas/OrganizationSummary'
        user:
          $ref: '#/components/schemas/CLIUser'
        session:
          type: object
          properties:
            expires_at:
              type: string
              format: date-time
            token_type:
              type: string
    StandardError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, details]
          properties:
            code:
              type: string
              enum:
                - INVALID_REQUEST
                - UNAUTHORIZED
                - FORBIDDEN
                - INSUFFICIENT_SCOPE
                - NOT_FOUND
                - METHOD_NOT_ALLOWED
                - RATE_LIMITED
                - INTERNAL_ERROR
            message:
              type: string
            details:
              type: object
              additionalProperties: true
      example:
        error:
          code: INSUFFICIENT_SCOPE
          message: "Missing required API scope(s): reports:read"
          details: {}
    PaginatedResponse:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            type: object
    LedgerEntryResponse:
      allOf:
        - $ref: '#/components/schemas/JournalEntry'
        - type: object
          properties:
            posted_at:
              type: string
              format: date-time
    ReportResponse:
      type: object
      properties:
        currency:
          type: string
        from_date:
          type: string
          format: date
        to_date:
          type: string
          format: date
        as_of_date:
          type: string
          format: date
        lines:
          type: array
          items:
            type: object
            additionalProperties: true